* {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}
h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 2rem;
    font-weight: lighter;
}
.btn {
    border: none;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.image {
    width: 100%;
    height: auto;
}
main {
    margin-top: 80px;
}
section {
    display: flex;
    flex-direction: column;
}
#create-share-section .image {
    background: url('../assets/home/mobile/create-and-share.jpg') no-repeat;
    background-size: cover;
    min-height: 294px;
}
#beautiful-stories-section .image {
    background: url('../assets/home/mobile/beautiful-stories.jpg') no-repeat;
    background-size: cover;
    min-height: 294px;
}
#designed-section .image {
    background: url('../assets/home/mobile/designed-for-everyone.jpg') no-repeat;
    background-size: cover;
    min-height: 294px;
}
@media screen and (min-width: 600px) {
    section {
        flex-direction: row;
    }
    #create-share-section,
    #designed-section,
    #features-section,
    #pricing-section {
        flex-direction: row-reverse;
    }
    #beautiful-stories-section,
    #designed-section,
    #features-section,
    #pricing-section {
        height: 600px;
        align-items: center;
    }
    #create-share-section {
        height: 650px;
        align-items: center;
    }
    .section-text h1 {
        font-size: 3rem;
    }
    .section-text p {
        font-size: 1rem;
        line-height: 2rem;
    }
    #create-share-section .image {
        background: url('../assets/home/tablet/create-and-share.jpg') no-repeat;
        min-height: 650px;
    }
    #beautiful-stories-section .image {
        background: url('../assets/home/tablet/beautiful-stories.jpg') no-repeat;
        min-height: 600px;
    }
    #designed-section .image {
        background: url('../assets/home/tablet/designed-for-everyone.jpg') no-repeat;
        min-height: 600px;
    }

}
#create-share-section, 
#appalachia-section,
#features-section,
#pricing-section,
.beta-section {
    color: white;
    background-color: black;
}
#create-share-section .section-text a,
#appalachia-section .section-text a {
    color: white;
}
.section-text {
    padding: 35px;
    align-items: center;
}
.section-text a {
    display: flex;
    text-decoration: none;
    align-items: center;
}
.section-text p {
    padding-top: 10px;
    padding-bottom: 20px;
    color: gray;
}
.section-text span {
    padding-right: 20px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}
#beautiful-stories-section,
#designed-section,
#beautiful-stories-section .section-text a,
#designed-section .section-text a {
    color: black;
    background-color: white;
}
#stories-grid,
.beta-section .section-text a {
    color: white;
}
.beta-section {
    max-width: 100%;
    height: auto;
    background-image: url('../assets/shared/mobile/bg-beta.jpg');
    background-size: cover;
}