* {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}
h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 2rem;
    font-weight: lighter;
}
.btn {
    border: none;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.image {
    width: 100%;
    height: auto;
}
main {
    margin-top: 80px;
}
section {
    display: flex;
    flex-direction: column;
}
#create-share-section,
#create-share-section .section-text a, 
#appalachia-section,
#appalachia-section .section-text a,
#features-section,
#pricing-section,
.beta-section {
    color: white;
    background-color: black;
}
.section-text {
    padding: 80px 35px;
}
.section-text a {
    display: flex;
    text-decoration: none;
    align-items: center;
}
.section-text p {
    padding-top: 10px;
    padding-bottom: 20px;
    color: gray;
}
.section-text span {
    padding-right: 20px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}
.section-text {
    /*padding-bottom: 20px;*/
}
#beautiful-stories-section,
#designed-section,
#beautiful-stories-section .section-text a,
#designed-section .section-text a {
    color: black;
    background-color: white;
}
#stories-grid,
.beta-section .section-text a {
    color: white;
}
.beta-section {
    max-width: 100%;
    height: auto;
    background-image: url('../assets/shared/mobile/bg-beta.jpg');
    background-size: cover;
}