#appalachia-section .image {
    background: url('../assets/stories/mobile/moon-of-appalacia.jpg') no-repeat;
    background-size: cover;
    height: 320px;
}
.story {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.story div {
    background-image: linear-gradient(rgba(0,0,0,0%), rgba(0,0,0,80%));
    width: inherit;
    height: auto;
    padding: 225px 25px 25px 25px;
}
.story h4 {
    font-weight: lighter;
    padding-bottom: 3px;
}
.story div p, 
.story .date {
    font-size: 12px;
}
.story a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    border-top: solid 1px lightgray;
    margin-top: 15px;
    padding-top: 15px;
    letter-spacing: 1px;
}
.mountains {
    background: url('../assets/stories/mobile/mountains.jpg') no-repeat;
    background-size: cover;
}
.cityscapes {
    background: url('../assets/stories/mobile/cityscapes.jpg') no-repeat;
    background-size: cover;
}
.voyage {
    background: url('../assets/stories/mobile/18-days-voyage.jpg') no-repeat;
    background-size: cover;
}
.architecturals {
    background: url('../assets/stories/mobile/architecturals.jpg') no-repeat;
    background-size: cover;
}
.world-tour {
    background: url('../assets/stories/mobile/world-tour.jpg') no-repeat;
    background-size: cover;
}
.unforeseen {
    background: url('../assets/stories/mobile/unforeseen-corners.jpg') no-repeat;
    background-size: cover;
}
.king-africa {
    background: url('../assets/stories/mobile/king-on-africa.jpg') no-repeat;
    background-size: cover;
}
.trip-nowhere {
    background: url('../assets/stories/mobile/trip-to-nowhere.jpg') no-repeat;
    background-size: cover;
}
.rage-sea {
    background: url('../assets/stories/mobile/rage-of-the-sea.jpg') no-repeat;
    background-size: cover;
}
.running-free {
    background: url('../assets/stories/mobile/running-free.jpg') no-repeat;
    background-size: cover;
}
.behind-waves {
    background: url('../assets/stories/mobile/behind-the-waves.jpg') no-repeat;
    background-size: cover;
}
.calm-waters {
    background: url('../assets/stories/mobile/calm-waters.jpg') no-repeat;
    background-size: cover;
}
.milky-way {
    background: url('../assets/stories/mobile/milky-way.jpg') no-repeat;
    background-size: cover;
}
.dark-forest {
    background: url('../assets/stories/mobile/dark-forest.jpg') no-repeat;
    background-size: cover;
}
.somwarpet {
    background: url('../assets/stories/mobile/somwarpet.jpg') no-repeat;
    background-size: cover;
}
.land-dreams {
    background: url('../assets/stories/mobile/land-of-dreams.jpg') no-repeat;
    background-size: cover;
}

@media screen and (min-width: 600px) {
    #appalachia-section .image {
        display: none;
    }
    #appalachia-section .section-text a {
        background-color: transparent;
    }
    #appalachia-section .section-text {
        background: url('../assets/stories/tablet/moon-of-appalacia.jpg') no-repeat;
        background-size: cover;
        height: 650px;
        padding-right: 350px;
        align-items: center;
        padding-top: auto;
        padding-bottom: auto;
    }
    #appalachia-section .section-text p {
        color: white;
    }
    #stories-grid {
        flex-wrap: wrap;
    }
    .story {
        width: 50%;
    }
    .story div {
        background-image: linear-gradient(rgba(0,0,0,0%), rgba(0,0,0,80%));
        width: 100%;
        height: auto;
        padding: 300px 0px 25px 0px;
    }
    .story div h4,
    .story div p,
    .story div a {
        margin-left: 25px;
        margin-right: 25px;
    }
    .mountains {
        background: url('../assets/stories/desktop/mountains.jpg') no-repeat;
        background-size: cover;
    }
    .cityscapes {
        background: url('../assets/stories/desktop/cityscapes.jpg') no-repeat;
        background-size: cover;
    }
    .voyage {
        background: url('../assets/stories/desktop/18-days-voyage.jpg') no-repeat;
        background-size: cover;
    }
    .architecturals {
        background: url('../assets/stories/desktop/architecturals.jpg') no-repeat;
        background-size: cover;
    }
}